.pulumi
**/bin/
**/obj/
**/node_modules/
vendor/
**/Pulumi.*.yaml
**/yarn-error.log
yarn.lock
package-lock.json
.idea/
**/version.txt
**/dist
nuget/
.DS_Store
dist/

ci-scripts/
*.tar.gz

/provider/cmd/pulumi-resource-*/schema.go
!provider/cmd/pulumi-resource-*/yarn.lock

sdk/java/build
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat
.vscode

sdk/python/venv

go.work
go.work.sum
